@import "../../Styles/common.scss";

.Cart {
  .cartBackdrop {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .cartContainer {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    width: 380px;
    height: 100vh;
    z-index: 100;

    .cartHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 52px 0 24px 0;
      width: 332px;
      margin-left: 24px;

      span {
        font: $subheading-font;
      }

      .cancelBtn {
        width: 20px;
        img {
          width: 100%;
        }
      }
    }
    .cartBody {
      margin-left: 24px;
      margin-right: 22px;

      .cartItemsAll {
        margin-left: 0;
        margin-right: 0;

        .cartItem {
          display: flex;
          width: 332px;
          margin-bottom: 8px;
          border-bottom: $default-border;
          border-radius: 4px;

          .productImage {
            width: 96px;
            padding-top: 10px;
            padding-bottom: px;

            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          .productInfoWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-right: 12px;
            margin-left: 5px;

            .productInfo {
              display: flex;
              justify-content: space-between;
              width: 100%;

              .productSpecsText {
                display: flex;
                flex-direction: column;

                .quantityAndProductName {
                  span {
                    font: $subtitle-font;
                  }
                  p {
                    display: inline-block;
                    font: $body-font;
                  }
                }

                .grindTypeAndSize {
                  margin-top: 4px;
                  font: $label-font;
                  font-weight: 400;
                  color: $default-dark-grey;
                }
              }
              .productPrice {
                font: $body-font;
              }
            }
            .removeFromCart {
              font: $label-font-bold;
              color: rgb(117, 114, 114);
              display: block;
              text-align: left;
            }
          }
        }
      }
      .cartTotal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px 0;
        font: $body-font;
      }
      .cartCheckout {
        width: 100%;
        margin-top: 36px;

        button {
          width: 100%;
          height: 44px;
          color: $default-white;
          background-color: $default-red;
          border: $default-red;
          border-radius: 4px;
          font: $label-font;
          line-height: 28px;
          letter-spacing: 0.75px;
          transition: background 250ms ease, color 250ms ease;
        }
        .otherPaymentMethods {
        }
      }
    }
  }
}
