@import "../../../../Styles/common.scss";

.CardList {
  width: 75%;

  .rightBox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    div {
      display: flex;
      align-items: center;
      font-size: 15px;
    }

    .rightText {
      padding-bottom: 45px;

      select {
        width: 150px;
        height: 40px;
        margin-left: 20px;
        padding-left: 10px;
        border: $default-border;
        border-radius: 5px;

        option {
          padding: 10px 0;
        }
      }
    }
  }
  .listSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    .cardContainer {
      display: flex;
      flex-direction: column;
      height: 500px;
      border: $default-border;
      cursor: pointer;

      .imgContainer {
        transition: 0.3s ease-in-out;
        height: 400px;
        margin-top: 15px;

        &:hover {
          margin-top: 0;
        }

        img {
          width: 100%;
          height: 300px;
        }
      }

      .taste {
        width: 95%;
        margin: 0 auto;
        padding: 20px 0 20px 10px;
        border-bottom: 2px solid lightgray;

        h2 {
          color: $default-dark-grey;
          font-size: 22px;
          font-weight: normal;
          font-family: "Fira Sans";
        }
      }

      .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 310px;
        height: 130px;
        padding-left: 15px;

        h2,
        h3 {
          height: calc(90% / 3);
          font-family: "Fira Sans";
        }

        .companyName {
          padding-top: 15px;
          font-size: 14px;
          font-weight: normal;
        }

        h2 {
          font-size: 22px;
        }

        .price {
          color: $default-dark-grey;
          font-size: 16px;
        }
      }
    }
  }
  .btnWrapper {
    text-align: center;

    button {
      cursor: pointer;
    }
  }
}
