@import "../../../../Styles/common.scss";

.Category {
  width: 30%;

  .leftBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;

    span {
      padding-bottom: 40px;
    }

    .boldName {
      font-family: Fira sans;
      font-size: 22px;
      font-weight: bold;
    }

    .clearBtn {
      margin-right: 40px;
      font-size: 12px;
      font-weight: 800;
      color: grey;
      cursor: pointer;
    }
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 300px;
    border-top: $default-border;

    .item {
      width: 280px;
      min-height: 80px;
      border-bottom: $default-border;

      .mainCategory {
        min-height: 80px;
        .toggleBtn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 80px;
          cursor: pointer;
        }
      }
      span {
        font-family: Fira sans;
        font-size: 14px;
      }

      img {
        width: 13px;
        height: 13px;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: column;

    .option {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 15px;

      input {
        width: 30px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
      }

      label {
        font-size: 13px;
      }
    }
    .seeAllBox {
      height: 50px;
      color: grey;
      font-size: 14px;
      font-family: Fira sans;
      text-align: center;
      cursor: pointer;
    }
  }
  .visible {
    display: none;
  }
}
