@import "../../../../Styles/common.scss";

.Header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  .type {
    font-weight: bold;
    font-size: 12px;
  }

  .title {
    font-size: 12px;
  }

  .name {
    display: flex;
    height: 150px;
    align-items: center;
    font-family: Fira sans;
    font-weight: 700;
    font-size: 90px;
  }

  .description {
    line-height: 20px;
  }

  .boldName {
    font-family: Fira sans;
    font-size: 20px;
    font-weight: bold;
  }
}
