.productList {
  .mainSection {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .boldName {
    font-family: Fira sans;
    font-size: 22px;
    font-weight: bold;
  }
  button {
    width: 140px;
    height: 43px;
    margin: 50px 0 50px 0;
    border-radius: 5px;
    color: white;
    background-color: #f53c32;
  }
}
