@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Mulish:wght@200&display=swap");


$default-black: rgb(0, 0, 0);
$default-white: rgb(255, 255, 255);
$default-grey: rgb(216, 216, 216);
$default-dark-grey: rgb(148, 148, 148);
$default-light-grey: rgb(233, 233, 233);
$default-red: rgb(245, 60, 50);
$default-border: 2px solid rgb(0, 0, 0);
$default-grey-background: rgb(247, 247, 247);

* {
  text-decoration: none;
  font-family: “Mulish”, "Fira Sans", sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $default-white;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
