@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap");

$default-black: rgb(0, 0, 0);
$default-white: rgb(255, 255, 255);
$default-grey: rgb(216, 216, 216);
$default-dark-grey: rgb(148, 148, 148);
$default-light-grey: rgb(233, 233, 233);
$default-red: rgb(245, 60, 50);
$default-border: 1px solid rgb(233, 233, 233);
$default-grey-background: rgb(249, 249, 249);
$body-font: 400 15px "Mulish";
$heading-font: 700 60px "Fira Sans";
$subtitle-font: 700 16px "Mulish";
$label-font: 550 14px "Mulish";
$label-font-bold: 700 14px "Mulish";
$heading-font-small: 600 32px "Fira Sans";
$subheading-font: 700 22px "Fira Sans";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-spaceBetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-spaceBetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
