.dropdownShop {
  display: flex;
  justify-content: center;
  height: 345px;
}

.dropdownListContent {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  padding-top: 30px;
  line-height: 40px;

  span {
    font-size: 20px;
    font-weight: 400;
  }
}

.dropdownShort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 20px;
  .dropdownShortContent {
    margin-right: 60px;
  }
}

.dropdownLearn {
  display: flex;
  justify-content: center;
  height: 185px;
}

.dropdownBlog {
  display: flex;
  justify-content: center;
  height: 300px;
}
