.Navbar {
  .navigation {
    position: relative;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 5px 0 0 9px;
      height: 52px;
      background-color: white;
    }

    img {
      height: 35px;
      width: auto;
    }

    .navText {
      display: inline-block;
      padding: 12px 0 20px;
      margin-left: 40px;
      color: inherit;
      background: linear-gradient(#000, #000) bottom / 0 0.1em no-repeat;
      transition: 0.3s background-size;
    }

    .navText:hover {
      background-size: 100% 0.2em;
    }

    ul {
      display: flex;
      list-style: none;
      text-align: center;

      li {
        position: relative;
        margin-left: 10px;
      }

      .dropBtn {
        font-family: "Fira Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding: 0px 20px;
      }
    }

    .matchBtn {
      margin: -7px 5px 0 0;
      padding: 7px 12px 6px;
      width: 119px;
      height: 36px;
      box-shadow: none;
      border: solid 1px black;
      background-color: transparent;
      border-radius: 4px;
      font-size: 11px;
      font-weight: bold;
      z-index: 99;
    }

    .matchBtn:hover {
      color: #f53c32;
      border: solid 1px #f53c32;
    }

    .iconSection {
      display: flex;
      margin: 10px 30px 0;
    }

    .slideList {
      position: relative;
      width: 34px;
      overflow: hidden;
      margin-top: -3px;
    }

    .slideList:hover:before {
      opacity: 1;
      transform: translate(0, 0);
    }

    .slideList:before {
      content: attr(data-hover);
      position: absolute;
      top: 1.1em;
      left: 0;
      width: 100%;
      font-weight: 500;
      font-size: 0.7em;
      opacity: 0;
      transform: translate(-100%, 0);
      transition: all 0.3s ease-in-out;
    }

    .slideList:hover div {
      opacity: 0;
      transform: translate(100%, 0);
    }
    .slideList div {
      transition: all 0.3s ease-in-out;
    }

    .dropdown {
      position: absolute;
      top: 52px;
      bottom: auto;
      left: 0;
      right: 0;

      > div {
        padding-left: 20px;
        border-top: 1px solid rgb(216, 216, 216);
        box-shadow: 13px 9px 20px -9px rgba(0, 0, 0, 0.35);
      }
    }
  }
}
