.Account {
  .title {
    font-family: "Fira sans";
<<<<<<< HEAD
    font-weight: bold;
    font-size: 60px;
  }
  .tapBox {
    display: flex;
=======
    font-size: 60px;
    font-weight: bold;
>>>>>>> 6e67738... Add : account 레이아웃 구현중
  }
}
